@font-face {
  font-family: 'Lato-Italic';
  src: url('../assets/fonts/Lato-Italic.ttf') format('truetype');
}


.navbar {
  background-color: #000;
  /* center nav bar text on bootstrap */

}

.navbar-nav .nav-link {
  color: white;
  font-family: 'Lato-Italic', sans-serif;
}

.navbar-nav .nav-link:hover {
  color: #ffc107;
}

.navbar-nav .nav-item {
  margin: 0 1rem;
}