@font-face {
  font-family: 'ArapeyRegular';
  src: url('../assets/fonts/landing/STOWE___.TTF') format('truetype');
}


.navbar {
  background-color: #000;
  /* center nav bar text on bootstrap */
position: static;
}

.navbar-nav .nav-link {
  color: white;
  font-family: 'ArapeyRegular', sans-serif;
}

.navbar-nav .nav-link:hover {
  color: #ffc107;
}

.navbar-nav .nav-item {
  margin: 0 2rem;
  font-size: 1.2rem;
}

