@font-face {
    font-family: 'Alumni Sans';
    src: url('../fonts/AlumniSans-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Markazi Text';
    src: url('../fonts/MarkaziText-VariableFont_wght.ttf') format('truetype');
  }
  /* Aplícalo lo primero para que el navegador nunca pinte blanco */
  html { background: #000; }
  body {
    margin: 0; padding: 0;
    opacity: 0;
    transition: opacity 1s ease;
    background: transparent; /* ya defines el negro en html */
  }
  body.fade-in { opacity: 1; }
  .bodyFont{
    font-family: 'Markazi Text', serif;
    color: #333;
    
  }
  
  h1, h2, h3, h4, h5{
    font-family: 'Alumni Sans', sans-serif;
  }
  
  .navbar {
    background-color: #0e2745;
    /* center nav bar text on bootstrap */
    
  }
  
  .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffc107;
  }
  
  .hero {
    background: url('../img/BG1.png') center/cover no-repeat;
   
  }
  
  .section {
    padding: 1rem;
  }
  
  .section-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .footer {
    background: url('../img/Footer.png') center/cover no-repeat;
    padding-bottom: 7rem;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #ffc107;
  }
  
  p{
    font-size: 1.8rem;
    padding-inline: 4.2rem;
  }
  h5{
    font-size: 2.5rem;
    margin: 2.5rem;
    
    font-weight: bold;
  }
  h6{
    font-size: 2rem;
    margin: 2.5rem;
    
    font-weight: bold;
  }
  .h6Plataformas{
    font-size: 2.5rem;
    margin: 2.5rem;
    
    font-weight: bold;
  }
  .normalFont h6{
    font-size: 1.5rem;
    text-align: center;
}
.normalFont p{
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
}
  